---
import MainLayout from "../../layouts/MainLayout.astro";
---

<MainLayout
  title="Contacto - Julián Esparza"
  desc="Julián Esparza Web Developer"
>
  <section class="px-10">
    <p class="text-6xl my-40 text-neko-100 max-w-2xl">
      Empecemos un nuevo <span class="text-yellow-500">proyecto</span> juntos
    </p>
    <div class="grid grid-cols-4 gap-10">
      <form class="col-span-3">a</form>
      <aside>hola</aside>
    </div>
  </section>
</MainLayout>
