---
import MainLayout from "../layouts/MainLayout.astro";
import ProjectView from "../components/ProjectView.astro";
import SkillView from "../components/SkillView.astro";
---

<MainLayout
  title="Julián Esparza - Web developer"
  desc="Julián Esparza Web Developer"
>
  <section class="px-10 flex">
    <p class="font-bold text-7xl max-w-lg text-gray-50 bg-neko-950">
      Hola, soy <span class="text-gradient text-transparent"
        >Julián Esparza</span
      >
    </p>
    <p class="text-xl max-w-xl bg-neko-950">
      Bienvenido a mi sitio web. Soy un{" "}
      <span class="text-sky-400">desarrollador web</span> con mas de{" "}
      <span class="text-sky-400">3 años</span> de experiencia. Me gusta crear cosas
      únicas.
    </p>
  </section>
  <section id="projects">
    <div class="flex gap-2.5 items-center">
      <h2 class="uppercase text-3xl px-10 leading-none bg-neko-950">Proyectos</h2>
    </div>
    <span class="text-sm px-10 bg-neko-950">Mis proyectos destacados</span>
    <ProjectView feature={true}/>
    <div class="w-full h-20 flex items-center justify-center text-base">
      <a
        class="relative group h-12 w-40 overflow-hidden rounded-md flex items-center justify-center"
        href="/project"
        ><div
          class="absolute w-44 h-44 group-hover:animate-[spin_2s_linear_infinite] bg-neko-700/80 transition-all ease-in-out duration-500 group-hover:bg-gradient-to-br from-sky-500 via-fuchsia-500 to-red-500"
        >
        </div><span
          class="relative h-[calc(100%-3px)] w-[calc(100%-3px)]  flex justify-center items-center rounded-md bg-neko-950"
          >Mas Proyectos</span
        ></a
      >
    </div>
  </section>
  <section id="about">
    <div class="flex gap-2.5 items-center">
      <h2 class="uppercase text-3xl px-10 leading-none bg-neko-950">Habilidades</h2>
    </div>
    <span class="text-sm px-10 bg-neko-950">Mis proyectos destacados</span>
    <SkillView  />
  </section>
</MainLayout>
