<section class="px-10 flex items-center text-center flex-col">
  <p class="font-bold text-7xl max-w-lg text-gray-50 bg-neko-950">
    Hola, soy <span class="text-gradient text-transparent"
      >Julián Esparza</span
    >
  </p>
  <p class="max-w-sm bg-neko-950">
    Soy un{" "}
    <span class="text-sky-400">desarrollador web</span> con mas de{" "}
    <span class="text-sky-400">3 años</span> de experiencia. Me gusta crear cosas
    únicas y desarrollar soluciones eficientes.
  </p>
</section>